 Options -Indexes

 RewriteEngine On

 # Prevent hotlinking admin assets
 RewriteCond %{HTTP_REFERER} !^$
 RewriteCond %{HTTP_REFERER} !^https?://(www\.)?localhost/news-site/ [NC]
 RewriteRule \.(js|css|jpg|jpeg|png|gif)$ - [F]

 ErrorDocument 403 /news-site/403.php