/* ===================== */
/* COMMON CSS */
/* ===================== */
:root {
  --main-color: #1453f2;
  --gray-color: #6a7282;
}

body {
  background: #f9fafb;
  font-family: sans-serif, arial, Helvetica;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.blank-space {
  padding-top: 106px;
}

.section-padding {
  padding: 30px 0px;
}

.min-height {
  min-height: calc(100vh - 140px);
}
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.btn:focus,
button:focus {
  outline: none;
}

.edit-icon {
  i {
    color: #ffc107 !important;
    font-size: 14px;
  }
}
.delete-icon {
  i {
    color: #dc3545 !important;
    font-size: 14px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2.page-heading {
  margin: 5px 0 30px;
  padding: 0 5px 10px;
  border-bottom: 2px solid #333;
}

/* ===================== */
/* ADMIN Panel CSS START */
/* ===================== */

#wrapper-admin {
  padding: 100px 0 0;
}

.section-wrapper {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  .title-head {
    padding: 20px;
    border-bottom: 1px solid rgba(#ced4da, 0.65);
    h2 {
      margin-bottom: 0px;
      font-size: 24px;
    }
    h3 {
      font-size: 18px;
      margin-bottom: 0;
    }
  }

  table {
    margin-bottom: 0px;
    thead {
      background-color: #202938 !important;
      color: #fff;
    }
    tr {
      &:nth-child(even) {
        background-color: #f8f8f8;
      }
      th,
      td {
        font-weight: 400;
        font-size: 14px;
        padding: 20px 10px;
        &:first-child {
          padding-left: 20px;
        }
        &:last-child {
          text-align: center;
          padding-right: 20px;
        }
      }
      th {
        font-weight: 600;
      }
      td {
        &:first-child,
        &:nth-child(4) {
          color: #4a5565;
        }
        &.user-role {
          span {
            background-color: #f3f4f6;
            display: inline-block;
            padding: 2px 10px;
            font-size: 11px;
            border-radius: 14px;
            color: black;
            font-weight: 600;
            &.admin {
              background-color: #dbeafe;
              color: #173ab8;
            }
          }
        }
      }
    }
  }

  form {
    label {
      color: rgba($color: #364153, $alpha: 1);
      font-size: 14px;
    }
    input,
    select {
      border-radius: 8px;
      padding: 8px 12px;
      font-size: 14px;
      &:focus {
        border: 2px solid var(--main-color);
        box-shadow: none;
      }
    }
    button {
      border-radius: 8px;
      padding: 8px;
    }
  }

  ul {
    margin: 20px;
    padding-left: 20px;
    li {
      margin: 20px 0px;
      font-size: 14px;
      list-style: disc;
      &::marker {
        color: var(--main-color);
        line-height: 1;
        font-size: 24px;
      }
      > div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        span {
          display: block;
          min-width: 50%;
          &:first-child {
            color: #000;
          }
          &:nth-child(2) {
            color: #99a1af;
            font-size: 12px;
            text-align: right;
          }
          &:last-child {
            display: block;
            width: 100%;
            font-size: 12px;
            color: #99a1af;
            b {
              color: rgba($color: #000000, $alpha: 0.6);
            }
          }
        }
      }
    }
  }
}
.sticky-effect {
  position: relative;
  height: 100%;
  > div {
    position: sticky;
    top: 20%;
  }
}
#admin-menubar {
  background-color: #fff;

  .admin-menu {
    font-size: 0;

    li {
      display: inline-block;
      margin: 0 16px 0 16px;
      a {
        color: var(--gray-color);
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 12px 0px;
        display: block;
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 0px;
          height: 2px;
          width: 100%;
          background-color: rgba(#6a7282, 0.5);
          display: none;
        }
        &:hover {
          color: #374050;
          &::before {
            display: block;
          }
        }
        &.active {
          color: var(--main-color);
          &::before {
            display: block;
            background-color: var(--main-color);
          }
        }
      }
      &:first-child {
        margin-left: 0px;
      }
    }
  }
}

#admin-content {
  padding: 20px 0;
  min-height: 750px;

  .admin-heading {
    font-size: 35px;
    margin: 0 0 15px;
  }

  .add-new {
    color: #fff;
    background-color: var(--main-color);
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 7px 10px;
    display: block;
    transition: all 0.3s;

    &:hover {
      text-shadow: 0 0 3px #000;
      box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .content-table {
    border: 1px solid #000;
    width: 100%;
    margin: 0 0 20px;

    thead {
      color: #fff;
      background-color: #333;
    }

    th {
      padding: 10px;
      border: 1px solid #fff;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
    }

    tbody {
      color: #333;

      tr {
        background-color: #e7e7e7;

        &:nth-child(even) {
          background-color: transparent;
        }
      }

      td {
        padding: 10px;
        border: 1px solid #fff;
        text-align: center;

        &:nth-child(2) {
          text-align: left;
        }
      }
    }
  }

  .admin-pagination {
    margin: 0;

    li {
      a {
        display: block;
      }
    }
  }
}

.id,
.edit,
.delete {
  text-align: center;
}

form {
  &.form {
    background: #fff;
    padding: 20px;
    padding-bottom: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  }
}

/* ===================== */
/* FrontEnd CSS START */
/* ===================== */

/* Header Styling */
header {
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .top-header {
    background: var(--main-color);
    padding: 10px 0px;
    .logo {
      img {
        width: auto;
        height: 40px;
      }
    }
    .logout {
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      text-align: end;
      a {
        text-decoration: none;
        margin-left: 10px;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}

/* Menubar Styling */
#menu-bar {
  background: #333;
  text-align: center;

  .menu > li {
    display: inline-block;

    > a {
      padding: 10px 20px;
      display: block;
      text-transform: uppercase;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      transition: all 0.5s ease;

      &:hover,
      &.active {
        color: #fff;
        background: var(--main-color);
      }
    }
  }
}

/* Main Content Styling */
#main-content {
  padding: 30px 0;
  min-height: 750px;

  .post-container {
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  }

  .post-content {
    border-bottom: 1px solid #d1d1d1;
    padding: 0 0 30px;
    margin-bottom: 30px;

    img {
      width: 100%;
    }

    .post-img {
      border: 3px solid #e7e7e7;
      display: block;
      height: 145px;
      overflow: hidden;
      transition: border 0.3s;

      &:hover {
        border: 3px solid var(--main-color);
      }
    }

    h3 {
      font-size: 21px;
      line-height: 28px;
      font-weight: 600;
      margin: 0 0 7px;

      a {
        color: var(--main-color);
        transition: all 0.3s;

        &:hover {
          color: #333;
        }
      }
    }

    .post-information {
      span {
        color: #606060;
        font-size: 12px;
        text-transform: capitalize;
        margin: 0 5px 5px 0;
        display: inline-block;
      }

      i {
        color: var(--main-color);
        margin-right: 1px;
      }

      a {
        color: #606060;

        &:hover {
          color: #333;
        }
      }
    }

    p {
      color: #666;
      font-size: 14px;
      letter-spacing: 0.5px;
      margin: 0 0 10px;
    }

    a.read-more {
      color: #fff;
      background-color: var(--main-color);
      font-size: 12px;
      text-transform: capitalize;
      padding: 3px 8px;
      border-radius: 2px;
      transition: all 0.3s;

      &:hover {
        background-color: #333;
      }
    }
  }

  .single-post {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;

    h3 {
      color: var(--main-color);
    }

    .post-information {
      margin: 0 0 10px;
    }

    p {
      text-align: justify;
    }

    img.single-feature-image {
      width: 70%;
      margin: 0 auto 20px;
      display: block;
      border: 3px solid #e7e7e7;
    }
  }
}

/* Pagination Styling */
.pagination {
  display: block;
  text-align: center;
  margin: 0;
  li {
    display: inline-block;
    margin: 0 5px 0 0;

    a {
      border: none;
      background: var(--main-color);
      color: #fff;
      font-size: 12px;
      &:hover,
      &:focus {
        background: #0f1a3d;
        color: #fff;
      }
    }
    &.active {
      a {
        background-color: #14255c !important;
        color: #fff;
      }
    }
  }
}

.page_links {
  background-color: #ccc;
  font-family: arial, verdana;
  font-size: 12px;
  text-decoration: none;
  border: 1px solid #000;
  padding: 6px;
  margin: 3px;
}

#page_a_link {
  font-size: 12px;
  border: 1px solid #000;
  color: #000;
  background-color: #ccc;
  padding: 6px;
  margin: 3px;
}

i.fa {
  color: #222;
}

/* Sidebar Styling */
#sidebar {
  h4 {
    color: #1a1a1a;
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 0 0 5px;
    margin: 0 0 21px;
    border-left: 3px solid var(--main-color);
  }

  .search-box-container {
    background-color: #fff;
    padding: 20px;
    margin: 0 0 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  }

  .search-post {
    padding: 0;

    input {
      color: #606060;

      &:focus {
        box-shadow: none;
        border-color: #999;
      }
    }

    .btn {
      font-weight: 600;
      text-transform: uppercase;
      padding: 6px 8px;
      background-color: var(--main-color);
      border-color: var(--main-color);

      &:hover,
      &:focus {
        text-shadow: 0 0 3px #333;
      }
    }

    i.fa {
      font-size: 16px;
      color: #999;
      line-height: 40px;
      float: right;
    }
  }

  .recent-post-container {
    padding: 20px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  }

  .recent-post {
    border-bottom: 1px solid #e7e7e7;
    padding: 0 0 15px;
    margin: 0 0 15px;

    &:last-child {
      margin: 0;
      padding: 0;
      border: none;
    }

    .post-img {
      display: inline-block;
      width: 33%;
      border: 3px solid rgba(0, 0, 0, 0.3);
      transition: border 0.3s;

      &:hover {
        border: 3px solid var(--main-color);
      }

      img {
        width: 100%;
      }
    }

    .post-content {
      width: 65%;
      display: inline-block;
      padding: 0 0 0 7px;
    }

    h5 {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 5px;

      a {
        color: var(--main-color);
      }
    }

    span {
      color: #666;
      font-size: 11px;
      margin: 0 5px 10px 0;

      a {
        color: #666;
      }

      i {
        color: var(--main-color);
      }
    }

    a.read-more {
      color: #666;
      background-color: rgba(0, 0, 0, 0.09);
      width: 65px;
      font-size: 11px;
      text-align: center;
      padding: 0;
      display: block;
      transition: all 0.3s;

      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
.login-page {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    333deg,
    rgba(#1653f3, 1) 30%,
    rgba(#1653f3, 0.6) 70%,
    rgba(#1653f3, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  .login-box {
    width: 400px;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    text-align: center;
    .logo {
      img {
        width: auto;
        height: 52px;
      }
    }
    h4 {
      margin: 8px 0px 4px;
      font-size: 20px;
      font-weight: 600;
    }
    p {
      color: #555555;
      &.signup {
        font-size: 12px;
        margin-bottom: 0px;
        padding-top: 14px;
        margin-top: 20px;
        border-top: 1px solid rgba($color: #555555, $alpha: 0.1);
        a {
          font-weight: 600;
        }
      }
    }
    form {
      text-align: left;

      label {
        font-size: 14px;
      }

      input {
        &.form-control {
          color: #555555;
          font-size: 14px;
        }
      }
      .remember-me-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
      }
      button {
        background-color: var(--main-color);
        color: #fff;
        &:hover {
          opacity: 0.85;
        }
      }
    }
  }
  .copyright-text {
    text-align: center;
    color: rgba($color: #fff, $alpha: 0.8);
    font-size: 10px;
    margin-top: 14px;
    margin-bottom: 0px;
  }
}

/* Footer Styling */
footer {
  color: #fff;
  padding: 8px 0;
  text-align: center;
  background-color: var(--main-color);
  p {
    font-size: 12px;
  }
  a {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}
